.btn{
    color: white;
    background-color: green;
    border-radius: 5px;
    font-size: 20px;
}
.btn2{
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
}
body{
    display: flex;
    justify-content: center;
    padding: 300px;
    background-color: blue;
}